<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Login — Agronna" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/Captura de tela de 2025-11-21 21-30-04 (1).png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="guest-layout">
    <%= yield %>
  </body>
</html>
